data/raw/ filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1 filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2 filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3 filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_202602161725_004_PPKNAV.nav filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_202602161725_004_PPKRAW.bin filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172719_0002_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172810_0008_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/Locacion[[:space:]]de[[:space:]]zonas.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172836_0009_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/Huerta.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_202602161725_004_PPKOBS.obs filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_202602161725_004_Timestamp.MRK filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172709_0001_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172709_0001_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_1/DJI_20260216172810_0008_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171255_0011_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171053_0003_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171053_0003_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171255_0011_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171327_0013_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_202602161707_003_PPKNAV.nav filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171255_0011_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171327_0013_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171126_0005_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216170944_0001_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171053_0003_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171126_0005_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171126_0005_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_202602161707_003_PPKOBS.obs filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_202602161707_003_Timestamp.MRK filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171445_0021_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171203_0007_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171229_0009_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216170944_0001_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171203_0007_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216170944_0001_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171229_0009_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171229_0009_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171327_0013_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171445_0021_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171445_0021_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_202602161707_003_PPKRAW.bin filter=lfs diff=lfs merge=lfs -text
data/raw/flight_2/DJI_20260216171203_0007_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155034_0016_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_202603011543_006_PPKOBS.obs filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154750_0005_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154635_0003_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_202603011543_006_PPKNAV.nav filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154817_0007_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154635_0003_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154750_0005_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154817_0007_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154847_0009_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154847_0009_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154949_0014_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_202603011543_006_PPKRAW.bin filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154635_0003_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155056_0018_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155034_0016_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155034_0016_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155056_0018_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301155056_0018_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_202603011543_006_Timestamp.MRK filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154911_0012_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154911_0012_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154949_0014_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154750_0005_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154911_0012_D.JPG filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154949_0014_MS_NIR.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154817_0007_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
data/raw/flight_3/DJI_20260301154847_0009_MS_RE.TIF filter=lfs diff=lfs merge=lfs -text
